<nav class="navbar has-background-black">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="/images/logo-with-name.png" alt="Logo">
        </a>
        <span class="navbar-burger has-background-black" data-target="navbarMenu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end has-background-black">
            <a href="/" class="navbar-item has-text-white is-active">
                Home
            </a>
        </div>
        <div class="navbar-end has-background-black">
            <a href="/chill-playlist" class="navbar-item has-text-white is-active">
                Chill
            </a>
        </div>
        <div class="navbar-end has-background-black">
            <a href="/focus-playlist" class="navbar-item has-text-white is-active">
                Focus
            </a>
        </div>
        <div class="navbar-end has-background-black">
            <a href="/let-off-steam-playlist" class="navbar-item has-text-white is-active">
                Steam
            </a>
        </div>
    </div>
</nav>