<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bundle App Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <img src="/images/banner.png" class="large-centre-img" alt="banner with dozens of app logos">
    <main class="container">
        {% include "header.njk" %}
        <div id="maincontent">
            <div id="primary">
                {% include "nav.njk" %}
                {{ content | safe }}
            </div>
            <div id="secondary">
                {% include "sidebar.njk" %}
            </div>
        </div>
        {% include "footer.njk" %}
    
    </main>  
</body>
</html>