<aside class="content box">
    <h1>Weekly Deals</h1>
    
    <div class="card">
        <div class="card-header">
            <div class="card-header-title  is-centered">Business Bundle</div>
        </div>
        
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="/images/business.png" alt="Business Bundle"/>
                </figure>
            </div>
            Here comes the next bundle for
            march. This time it's macware who publish a bundle. The so called macware Business Bundle contains 6 apps at a price
            of only €29.99 instead of €199.94. So you can save around 84%.
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-header-title is-centered">Insanity Deal</div>
        </div>
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="/images/insanity.jpg" alt="Insanity Deal" />
            </figure>
        </div>
        With the new €5 Insanity Deals from
        Bundlehunt you receive every day a highly reduced app for €5 only with savings up to 75%. Not a real bundle but, as
        there are multiple apps for only €5 each, one new per day, for the days to come.
    </div>

</aside>
