---
layout: layout.njk
eleventyNavigation:
  key: Contact
  order: 4
---
<article>
    <h2>Other ways to get in touch:</h2>
    <p>Our new and improved website: <strong>www.theappbundlestore.com</strong>.</p>
    <p>Our Kilkenny branch: <strong>(056) 77234567</strong>.</p>
    <p>Our facebook page: <strong>@TheAppBundle</strong></p>
</article>