---
layout: layout.njk 
eleventyNavigation:
  key: Home
  order: 1
---
<article class="content box">
  <section class="section is-small">
    <p>
      This store brings you <em> great app bundles </em> week after week. We select the best
      power user apps from a broad range of suppliers and combine them into great deals. These
      are the highest quality apps from the best publishers, at great prices. </p>
      <p>
        Whether you are interested in gaming or graphics design, software development or media
        production - we have the bundle for you. Each <a href="/apps">app bundle</a> is
        designed to compliment the others, delivering you an exciting take on a scene. </p>
        <p>
          Our guarantee: at the store, we're committed to providing you, with an exceptional
          quality and reliability. Every application is checked in detail for stability, usability
          and inter-interoperability. If you are unhappy with any individual app in a bundle we
          will refund you the full amount for the complete suite, no questions asked. </p>
  </section>
  <hr>
        <section class="section is-small">
          <h2>Favourites</h2>
          <p> These are some of our favourites </p>
          <ul>
            <li>Hype by Tumult</li>
            <li>Webstorm by Idea</li>
            <li>Sublime, by sublimetext.com</li>
            <li>Desktop Utility by Sweet Productions</li>
          </ul>
          <p> We will be reviewing these favourites in the coming weeks, so please check in again to
            find out why these are our favourite apps.</p>
            <p> Why not come in and walk aroud the store? Directions are included below. </p>
        </section>
          <hr>
          <section class="section is-small">
            <h1>Weekly Deals</h1>
              <h2>Business Bundle</h2>
              <div class="columns is-4 is-vcentered">
                <img class="column" src="/images/business.png" alt="Business Bundle" class="medium-right-img"> 
                <p class="column">Here comes the next bundle for march. This time it's macware who publish a bundle. The so
                called macware Business Bundle contains 6 apps at a price of only €29.99 instead of
                €199.94. So you can save around 84%. </p>
              </div>
              <h2>Insanity Deal</h2>
              <div class="columns is-4 is-vcentered">
                <img class="column" src="/images/insanity.jpg" alt="Insanity Deal" class="medium-left-img"> 
                <p class="column">With the new €5 Insanity Deals from Bundlehunt you receive every day a highly reduced app for €5 only
                with savings up to 75%. Not a real bundle but, as there are multiple apps for only €5
                each, one new per day, for the days to come.</p>
              </div>
          </section>
            </article>
            
