--- 
layout: layout.njk 
title: Chill 
playlistTitle: Chill
playlistImage: https://images.unsplash.com/photo-1520809227329-2f94844a9635
playlistDescription: A playlist to chill your mind
playlistPath: /chill-playlist
eleventyNavigation:
    key: Chill
    order: 2
---
<!-- START CARD -->
{% include "playlist-card-component.njk" %}
<!-- END CARD-->

<!-- START TABLE -->
    <div class="column is-8">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
        </tbody>
    </table>
    </div>
<!-- END TABLE -->