--- 
layout: layout.njk 
title: Focus
playlistTitle: Focus
playlistImage: https://images.unsplash.com/photo-1453728013993-6d66e9c9123a
playlistDescription: A playlist to focus the mind
playlistPath: /focus-playlist
eleventyNavigation:
    key: Focus
    order: 3
---      
<!-- START CARD -->
{% include "playlist-card-component.njk" %}
<!-- END CARD-->

<!-- START TABLE -->
    <div class="column is-8">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
        </tbody>
    </table>
    </div>
<!-- END TABLE -->

