--- 
layout: layout.njk 
title: Focus
---      
<!-- START CARD -->
<div class="column is-4">
    <section class="card has-text-centered">
        <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">
                Focus
            </p>
        </header>
        <div class="card-image">
            <figure class="image">
                <img src="https://images.unsplash.com/photo-1520809227329-2f94844a9635" alt="Image">
            </figure>
            <article class="card-content">
                <p class="content is-size-4">
                    Sure this is a great playlist
                </p>
            </article>
            <footer class="card-footer">
                <button class="card-footer-item button has-background-grey-lighter">Play</button>
                <button class="card-footer-item button has-background-grey-lighter">Open</button>
                <button class="card-footer-item button has-background-grey-lighter">Remove</button>
            </footer>
        </section>
    </div>
</div>
<!-- END CARD-->

<!-- START TABLE -->
    <div class="column is-8">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
        </tbody>
    </table>
    </div>
<!-- END TABLE -->

