--- 
layout: layout.njk 
title: Steam 
playlistTitle: Steam
playlistImage: https://images.unsplash.com/photo-1625159510807-03f1d1b52bff
playlistDescription: A playlist for one of those days
playlistPath: /let-off-steam-playlist
eleventyNavigation:
    key: Steam
    order: 4
--- 
<!-- START CARD -->
{% include "playlist-card-component.njk" %}
<!-- END CARD-->

<!-- START TABLE -->
    <div class="column is-8">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
            <tr>
                <td>The Grudge</td>
                <td>Tool</td>
                <td>8:35</td>
            </tr>
        </tbody>
    </table>
    </div>
<!-- END TABLE -->