/* The following "html *" rule is to allow visualisation of all element boxes on 
the page */

/* html * {
    border: 1px solid red;
} */

body .container {
    display: grid;
    grid-template-columns: 20% 80%;
}

#header {
    border: solid 1px;
    grid-column-start: 1;
    grid-column-end: span 2;
}

#navigation {
    border: solid 1px;
    grid-column-start: 1;
}

#main-content {
    border: solid 1px;
    grid-column-start: 2;
}

#footer {
    border: solid 1px;
    grid-column-start: 1;
    grid-column-end: span 2;
}
