/* The following "html *" rule is to allow visualisation of all element boxes on 
the page */

/* html * {
border: 1px solid red;
} */

body .container {
    display: grid;
    grid-template-columns: 5% 18% 63% 5%;
    gap: 3%;
}

#header {
    grid-column-start: 2;
    grid-column-end: span 2;
}

#navigation {
    grid-column-start: 2;
}

#main-content {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: 70% 27%;
    gap: 3%;
}

#primary {
    grid-column-start: 1;
}

#primary-top {
    display: grid;
    grid-template-columns: 67% 30%;
    gap: 3%;
}

#primary-top img {
    width: 100%;
    margin-top: 20%
}

#primary-bottom img {
    display: block;
    width: 75%;
    margin: auto;
}

#secondary {
    grid-column-start: 2;
}

#secondary img {
    float: right;
    width: 25%;
    margin: 10% 3% 0%;
    
}

#footer {
    grid-column-start: 2;
    grid-column-end: span 2;
}
