body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: small;
  background-color: #87ceeb;
}

h1, h2 {
  color: #007e7e;
  border-bottom: 1px solid black;
}

h1 {
  border-bottom: 1px solid black;
  font-size: 150%;
}

em {
  color: red;
}

h2 {
  font-size: 130%;
}

p {
  color: maroon;
}